ClippyChatbotUnity/Library
ClippyChatbotUnity/Temp
ClippyChatbotUnity/UserSettings
ClippyChatbotUnity/Logs
ClippyChatbotUnity/obj
*.csproj
.vsconfig
*.sln
.vs
ClippyChatbotUnity/Assets/Speech/SubscriptionKey.txt
ClippyChatbotUnity/Assets/Speech/SubscriptionKey.txt.meta
ClippyChatbotUnity/Assets/ClippyAssets/Clippy.fbx
